* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar ion-icon {
    font-size: 30px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 20px;
    transition: color 0.3s;
}

.sidebar a:hover {
    filter: brightness(0.5);
}

.sidebar-icon {
    width: 30px;
    height: 30px;
    transition: color 0.3s;
}

.sidebar-icon:hover {
    filter: brightness(0.5);
}

.main-content {
    margin-left: 60px;
    padding: 20px;
    width: 100%;
    background: url(pic/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

.greeting {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 16px;
    color: gray;
}

.developer-info {
    position: absolute;
    top: 20px;
    left: 20px;
    transition: transform 0.5s;
}

.developer-info:hover {
    transform: translateX(30px);
}

.developer-info {
    margin-left: 3%;
    margin-top: 6%;
}

.developer-info h1 {
    font-size: 65px;
    color: rgb(36,32,30);
}

.developer-info h3 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

.developer-info span {
    color: rgb(230,104,59);
}

.developer-info a {
    text-decoration:  none;
    color: #fff;
    background: rgb(36,32,30);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}

.developer-info a:hover {
    background: rgb(59,174,209);
}

.developer-caption {
    font-size: 12px;
    color: #777;
}

.app-container {
    position: absolute;
    width: 500px;
    height: 240px;
    bottom: 60px;
    right: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s;
}

.app-container:hover {
    transform: translateX(-30px);
}

.app {
    display: flex;
    height: 50;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.8);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
    text-decoration: none;
    color: inherit;
}

.app:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.app p {
    margin: 0;
}

.app-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 7px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.app-info {
    flex-direction: column;
}

.app-name {
    margin-right: 10px;
}

.app-caption {
    font-size: 12px;
    color: #777;
}

.app-technologies {
    font-size: 10px;
    color: black;
    border-radius: 5px;
    padding: 4px;
    margin-right: 10px;
    background-color: rgb(245, 245, 245, 0.5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.app-caption, .app-technologies {
    display: inline-block;
    margin-top: 5px;
}
